$bike-purple: #9400D3;
$bike-violet: #4B0082;
$bike-blue: #0000FF;
$bike-green: #00FF00;
$bike-yellow: #FFFF00;
$bike-orange: #FF7F00;
$bike-red: #FF0000;

$dk-bike-purple: darken(#9400D3, 7%);
$dk-bike-violet: darken(#4B0082, 7%);
$dk-bike-blue: darken(#0000FF, 7%);
$dk-bike-green: darken(#00FF00, 7%);
$dk-bike-yellow: darken(#FFFF00, 7%);
$dk-bike-orange: darken(#FF7F00, 7%);
$dk-bike-red: darken(#FF0000, 7%);

$bike-purple: lighten(#9400D3, 10%);
$lg-bike-violet: lighten(#4B0082, 10%);
$lg-bike-blue: lighten(#0000FF, 10%);
$lg-bike-green: lighten(#00FF00, 10%);
$lg-bike-yellow: lighten(#FFFF00, 10%);
$lg-bike-orange: lighten(#FF7F00, 10%);
$lg-bike-red: lighten(#FF0000, 10%);